@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
.container{
    width: 100%;
    height: 100vh;
    background: #33aca6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calc{
    background: white;
    padding: 20px;
    border-radius: 10px;
}
.calc form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #33aca6;
    cursor: pointer;
    margin: 10px;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    padding: 10px;
    height: 100px;
    
}
form input.equal{
    width: 145px;
    color: #0b5775;
}
form input.operator{
    color: #21b183;
}
.dark-mode{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    cursor: pointer;
}
.light-mode{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    cursor: pointer;
}